@import "tailwindcss";

:root {
  --background: #ffffff;  /* Always white background */
  --foreground: #171717;  /* Dark text */
  --font-sans: var(--font-outfit, sans-serif);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

img{
  transition: transform 300ms; 
  &:hover {
    transform: scale(1.05);
  }
}

